body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(160, 61, 61);
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    padding: 50px;
    background: white;
    border-radius: 25px;
    border: 3px solid red;
}

.field{
    text-align: center; 
}

button{
    background: rgb(160, 61, 61);
    color: white;
    cursor: pointer;
    margin: 20px;
}

input{
    border: 1px solid black;
    width: 100%;
}

li{
    margin-top: 8px;
    list-style: none;
    padding: 6px 10px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.delete{
    color: red;
    cursor: pointer;
}