body{
    display:flex;
    font-family: Arial;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 48, 40);
}

.container{
    background: white;
    padding: 25px;
    border: 1px solid blue;
    border-radius: 20px;
}

h2{
    text-align:center;
    margin-bottom: 30px;
}

.field{
    margin-bottom:20px;
}

input{
    width:90%;
    padding:10px;
    margin-top:5px;
}

button{
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background: rgb(0, 48, 40);
}

.error{
    color: red;
    font-size: 13px;
    height: 14px;
}

#result {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}