body{
    background-color: rgb(43, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background-color: rgb(80, 28, 28);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin-bottom: 20px;
}


#btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(168, 93, 93);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}

#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#heading{
    margin-bottom: 20px;
    font-family: sans-serif;
}

#btn:hover{
    background-color: rgb(136, 64, 64);
}


